*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #4B4B4B;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 18px;
}

.card {
  width: 341px;
  height: 603px;
  border: 0.3px solid #828282;
  border-radius: 16px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
  }
  .card {
    width: 1070px;
    height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 59px;
  }
  .card__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 14px 20px !important;
  }
  .card__inner .card__title {
    margin-top: 0px;
    margin-bottom: 11px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    max-width: 100%;
  }
  .card__inner .card__time {
    margin-bottom: 15px;
  }
  .card__inner .card__summary {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-top: 0;
  }
  .card__inner .card__more-btn {
    margin-left: 10px;
  }
  .card__inner .card__descr__item {
    display: inline;
  }
  .card__inner .card__times {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .card__image {
    width: 473px !important;
    height: 369px !important;
    border-radius: 16px 0px 0px 16px;
  }
  .card__image img {
    width: 473px;
    height: 369px;
    border-radius: 16px 0px 0px 16px;
  }
  .card__time-available {
    margin-left: -185px;
  }
}

.card__image {
  width: 341px;
  height: 220px;
  position: relative;
}

.card__inner {
  padding: 14px 12px;
}

.card__label {
  width: 99px;
  height: 35px;
  background-color: #FED74B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: 41px;
  left: 0;
  font-size: 12px;
  font-weight: 600;
  color: #3E3E3E;
}

.card__label--new {
  position: absolute;
  top: 0;
  color: #fff;
  background-color: #7553FF;
  border-radius: 15px 0px 12px;
}

.card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__time-hours {
  margin-left: 9px;
  font-weight: 400;
  font-size: 12px;
  color: #9E9E9E;
}

.card__title {
  margin: 20px 0;
  max-width: 317px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #404040;
}

.card__descr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  width: 369px;
}

.card__descr-item::before {
  content: '';
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: url("../img/icons/check-mark.svg") center no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

.card__times-available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 35px;
}

.card__times-available * + * {
  margin-left: 4px;
}

.card__times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__times-available {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__time-available {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 24px;
  background-color: #D9E8FF;
  color: #343434;
  border-radius: 11px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.card__time-available:hover {
  background: #6BA6FF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

.card__times-hidden {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height .3s ease-in;
  transition: height .3s ease-in;
}

.open-hidden-cards {
  height: 50px;
  visibility: visible;
}

.card__moreTimes-btn {
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 24px;
  background-color: #D9E8FF;
  color: #343434;
  border-radius: 11px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.card__moreTimes-btn:hover {
  color: #ffffff;
  background-color: #6BA6FF;
}

.card__summary {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  line-height: 20px;
  color: #000000;
  position: relative;
  word-break: break-all;
}

.card__pier-price {
  font-size: 10px;
  line-height: 20px;
  color: #000000;
}

.card__ruble-img {
  width: 23px;
  height: 25px;
}

.card__pier-price {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #000000;
}

.card__more-btn {
  cursor: pointer;
  width: 165px;
  height: 44px;
  background-color: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
  color: #404040;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.card__more-btn:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.card__more-btn--bg {
  width: 193px;
  height: 44px;
  border: 0.5px solid #CBA500;
  border-radius: 10px;
}

.add-height {
  height: 650px;
}

.second-task-btn {
  position: absolute;
  right: 50px;
  cursor: pointer;
  width: 165px;
  height: 44px;
  background-color: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
  color: #404040;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.second-task-btn:hover {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=style.css.map */